<div class="loading-container">
  <div class="loading">
    <div *ngIf="false">
      <i class="fa fa-sync fa-spin"></i>
    </div>
  </div>

  <div class="content-wrapper">

    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>CN Details</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a routerLink="/dashboard">Home</a></li>
              <li class="breadcrumb-item active"><a routerLink="/cn-list">CN List</a></li>
              <li class="breadcrumb-item active">CN Details</li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>



    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-12">
            <div class="card">



            </div>
            <!-- /.card -->

            <div class="card">
              <div class="card-header">
                <h3 class="card-title">{{taxnumber}}</h3>
              </div>
              <!-- /.card-header -->
              <div class="card-body">
                <table id="example1" class="table table-bordered table-striped">
                  <thead>
                    <tr>
                      <th class="text-center">ItemCode</th>
                      <th class="text-center">ItemName</th>
                      <th class="text-center">Quantity</th>
                      <th class="text-center">Price</th>
                      <th class="text-center">DiscPrcnt</th>
                      <th class="text-center">LineTotal</th>
                      <th class="text-center">BillDisAmt</th>
                      <th class="text-center">LineTotalAfterBillDisc</th>


                    </tr>
                  </thead>

                </table>
              </div>
              <!-- /.card-body -->
            </div>

            <div>
              <button type="button" class="btn btn-primary float-right" style="margin-right: 5px;"
                (click)="onClickBack()">
                <i class="fa fa-arrow-left"></i> back
              </button>
            </div>

            <!-- /.card -->
          </div>
          <!-- /.col -->
        </div>
        <!-- /.row -->
      </div>
      <!-- /.container-fluid -->
    </section>
    <!-- /.content -->
  </div>

</div>
