<svg version="1.1" xmlns="http://www.w3.org/2000/svg"
		xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="100%" height="100%" viewBox="0 0 1600 900" preserveAspectRatio="xMidYMax slice">
		<defs>
			<linearGradient id="bg">
				<stop offset="0%" style="stop-color:rgba(130, 158, 249, 0.06)"></stop>
				<stop offset="50%" style="stop-color:rgba(76, 190, 255, 0.6)"></stop>
				<stop offset="100%" style="stop-color:rgba(115, 209, 72, 0.2)"></stop>
			</linearGradient>
			<path id="wave" fill="url(#bg)" d="M-363.852,502.589c0,0,236.988-41.997,505.475,0
	s371.981,38.998,575.971,0s293.985-39.278,505.474,5.859s493.475,48.368,716.963-4.995v560.106H-363.852V502.589z" />
		</defs>
		<g>
			<use xlink:href='#wave' opacity=".3">
				<animateTransform
          attributeName="transform"
          attributeType="XML"
          type="translate"
          dur="10s"
          calcMode="spline"
          values="270 230; -334 180; 270 230"
          keyTimes="0; .5; 1"
          keySplines="0.42, 0, 0.58, 1.0;0.42, 0, 0.58, 1.0"
          repeatCount="indefinite" />
			</use>
			<use xlink:href='#wave' opacity=".6">
				<animateTransform
          attributeName="transform"
          attributeType="XML"
          type="translate"
          dur="8s"
          calcMode="spline"
          values="-270 230;243 220;-270 230"
          keyTimes="0; .6; 1"
          keySplines="0.42, 0, 0.58, 1.0;0.42, 0, 0.58, 1.0"
          repeatCount="indefinite" />
			</use>
			<use xlink:href='#wave' opacty=".9">
				<animateTransform
          attributeName="transform"
          attributeType="XML"
          type="translate"
          dur="6s"
          calcMode="spline"
          values="0 230;-140 200;0 230"
          keyTimes="0; .4; 1"
          keySplines="0.42, 0, 0.58, 1.0;0.42, 0, 0.58, 1.0"
          repeatCount="indefinite" /> 
			</use>
		</g>
	</svg>

<div class="row justify-content-center align-items-center"  style="height:71vh;">
    <!--<div class="container-items-center row justify-content-center bg-info align-items-center" style="height:82vh;">-->
        
    <div class="login-box ">
      <div class="login-logo">
        <a href="#"><b>GO</b>PLUS</a>
      </div>
      <!-- /.login-logo -->
      <div class="card">
        <div class="card-body login-card-body">
          <p class="login-box-msg"><b>Login</b> to start your session</p>
  
          <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" novalidate>
            <div class="input-group mb-3">
              <input type="email" class="form-control" placeholder="Email" formControlName="Email">
              <div class="input-group-append">
                <div class="input-group-text">
                  <span class="fas fa-envelope"></span>
                </div>
              </div>
              <!-- <div *ngIf="loginForm.controls['emailFm'].invalid && (loginForm.controls['emailFm'].dirty || loginForm.controls['emailFm'].touched)" class="alert alert-danger">
                <div *ngIf="loginForm.controls['emailFm'].errors?.['required']">
                  Person Business is required.
                </div>
              </div> -->
            </div>
            <div class="input-group mb-3">
              <input type="{{ showPassword ? 'text' : 'password' }}" class="form-control" placeholder="Password" formControlName="Password" >
              <div class="input-group-append">
                <div class="input-group-text">
                  <!-- <span class="fas fa-lock"></span> -->
                  <i class="fa" [ngClass]="{ 'fa-eye': !showPassword, 'fa-eye-slash': showPassword }"
                  (mouseleave)="showPassword = !showPassword" (mouseover)="showPassword = !showPassword"></i>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-8">
                <div class="icheck-primary">
                  <input type="checkbox" id="remember">
                  <label for="remember">
                    Remember Me
                  </label>
                </div>
              </div>
              <!-- /.col -->
              <div class="col-md-12" style="text-align: center;">
                <button type="submit" [disabled]="loginForm.controls['Email'].invalid || loginForm.controls['Password'].invalid " 
                 class="btn btn-primary btn-block">Sign In</button>
              </div>
              <!-- /.col -->
            </div>
          </form>
          <!-- /.social-auth-links -->
  
          <p class="mb-1" routerLinkActive="active">
            <a routerLink="/forgot">I forgot my password</a>
  
           
          </p>
          <p class="mb-0" routerLinkActive="active">
            <a routerLink="/register" class="text-center">Register a new membership</a>
          </p>
        </div>
        <!-- /.login-card-body -->
      </div>
    </div>
  
  </div>
  
